*{box-sizing: border-box;}

body {
	font-family: 'Merriweather', serif;
	font-style: 15px;
}

.principal{
	background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../Images/fondo.png') no-repeat center top;
	background-size:cover;
	color: #C0C0C0;
	background-attachment: fixed;
}

#titulo {
	line-height: 0;
	padding: 10px;
	text-decoration: none;
	text-align: center;
	
}

#titulo .nombre{
	width: 250px;
	margin-top: 30px;
	margin-left: 67px;
	text-align: center;
	color: black;
	border:1px black solid;
	border-radius: 4px 4px;
	background: rgb(234,185,45);
	background: -moz-linear-gradient(45deg, rgba(234,185,45,1) 40%, rgba(199,152,16,1) 72%); 
	background: -webkit-linear-gradient(45deg, rgba(234,185,45,1) 40%,rgba(199,152,16,1) 72%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, rgba(234,185,45,1) 40%,rgba(199,152,16,1) 72%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eab92d', endColorstr='#c79810',GradientType=1 );	
}

.principal nav{
	float: right;
	margin-top: 35px;
	margin-right: 81px;	
}

.principal nav a {
	background: rgb(234,185,45); 
	background: -moz-linear-gradient(45deg, rgba(234,185,45,1) 40%, rgba(199,152,16,1) 72%); 
	background: -webkit-linear-gradient(45deg, rgba(234,185,45,1) 40%,rgba(199,152,16,1) 72%); 
	background: linear-gradient(45deg, rgba(234,185,45,1) 40%,rgba(199,152,16,1) 72%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eab92d', endColorstr='#c79810',GradientType=1 ); 
	text-decoration: none;
	padding: 5px 10px;
	margin-left: 20px;
	color: black;
	border:1px black solid;
	border-radius: 4px;
	webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

.principal nav a:hover{
	background: black;
	color:white;
}

#subti {
	text-align: center;
	padding-bottom: 90px;

}

#subti h1 {
	font-size: 40px;
	margin-top: 130px;
}

#subti p {
	font-size: 20px;
	margin-bottom: 70px;
}

#subti img {
	margin-top: 15px;
}

#sobrem {
	text-align: center;
	padding: 30px 0px 30px;
	background-color: whitesmoke;
	font-size: 20px;
}

#sobrem .box{
	width: 500px;
	display: inline-block;
}

#sobrem img {
	width: 150px;
	height: 150px;
	margin:20px 0;
	border:1px black solid;
	border-radius: 4px;
}

#social a {
	background-color: black;
	display: inline-block;
	font-weight: bold;
	font-size:30px;
	margin:0 25px;
	color:white;
	border-radius: 50%;
	height: 60px;
	width: 60px;
	line-height: 60px;
	webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

#social a:hover {
	background-color:#A00000;
}

#proyec{
	text-align: center;	
	padding-top:10px; 
	margin: 30px 0 50px;
}

#proyec .box {
	color: white;
	display: inline-block;
	margin:25px 0;
	background-color: black;
	padding: 10px;
	border-radius: 5px;
}

#proyec img {
	width: 400px;
	height: 200px;
	border:1px black solid;
	border-radius: 4px;
}

#proyec img:hover{
	opacity: .7;
}


.conte{
	width:400px;
	margin-left: auto;
	margin-right: auto;
}


@media (min-width:768px) {
	body{
		font-style: 20px;
		line-height: 1.6;
	}

	#titulo {
		padding-bottom: 170px;
	}

	#titulo .nombre{
		margin-top: 30px;
		float: left;
		text-align: center;
	}

	.principal{
		margin-bottom: 0;
	}

	.principal nav{
		float: right;
		margin-top: 75px;
	}

	.principal nav a {
		padding: 10px 15px;
		margin-left: 15px;
		color: black;
	}

	#subti {
		padding-bottom: 140px;

	}

	#subti h1 {
		font-size: 60px;
		padding-top: 70px;
	}

	#subti p {
		font-size: 25px;
		padding-bottom: 100px;
	}

	#subti img {
		padding-top: 50px;
		padding-bottom: 10px;
		
	}

	#sobrem {
		text-align: center;
		background-color: whitesmoke;
		font-size: 25px;
		margin-top: 0;
	}

	#sobrem .box{
		margin:0px 40px;
		width: 500px;
	}

	#sobrem img {
		width: 250px;
		height: 250px;
		margin-bottom: 40px;
	}

	#proyec{
		text-align: center;	
		margin-top: 65px;
		margin-bottom: 100px; 
	}

	#proyec .box {
		margin:0px 40px;
		width: 500px;
	}

	#proyec img {
		width: 400px;
		height: 200px;
	}

	.conte{
		width:1200px;
		margin-left: auto;
		margin-right: auto;
	}


}

